<div class="col-12 col-xl-4">
							<div class="card">
								<div class="card-header">
									<h4>全球走势</h4>
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-6">
											<div class="d-flex align-items-center">
												<svg class="bi text-primary" width="32" height="32" fill="blue"
													style="width:10px">
													<use
														xlink:href="assets/vendors/bootstrap-icons/bootstrap-icons.svg#circle-fill">
													</use>
												</svg>
												<h5 class="mb-0 ms-3">Europe</h5>
											</div>
										</div>
										<div class="col-6">
											<h5 class="mb-0">862</h5>
										</div>
										<div class="col-12" style="position: relative;">
											<div id="chart-europe" style="min-height: 95px;">
												<div id="apexchartsxy7eccby"
													class="apexcharts-canvas apexchartsxy7eccby apexcharts-theme-light"
													style="width: 190px; height: 80px;"><svg id="SvgjsSvg5720"
														width="190" height="80" xmlns="http://www.w3.org/2000/svg"
														version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
														xmlns:svgjs="http://svgjs.com/svgjs"
														class="apexcharts-svg apexcharts-zoomable"
														xmlns:data="ApexChartsNS" transform="translate(0, 0)"
														style="background: transparent;">
														<g id="SvgjsG5722" class="apexcharts-inner apexcharts-graphical"
															transform="translate(22, 30)">
															<defs id="SvgjsDefs5721">
																<clippath id="gridRectMaskxy7eccby">
																	<rect id="SvgjsRect5732" width="164" height="37"
																		x="-3" y="-1" rx="0" ry="0" opacity="1"
																		stroke-width="0" stroke="none"
																		stroke-dasharray="0" fill="#fff"></rect>
																</clippath>
																<clippath id="gridRectMarkerMaskxy7eccby">
																	<rect id="SvgjsRect5733" width="162" height="39"
																		x="-2" y="-2" rx="0" ry="0" opacity="1"
																		stroke-width="0" stroke="none"
																		stroke-dasharray="0" fill="#fff"></rect>
																</clippath>
																<lineargradient id="SvgjsLinearGradient5738" x1="0"
																	y1="0" x2="0" y2="1">
																	<stop id="SvgjsStop5739" stop-opacity="0.65"
																		stop-color="rgba(83,80,233,0.65)" offset="0">
																	</stop>
																	<stop id="SvgjsStop5740" stop-opacity="0.5"
																		stop-color="rgba(169,168,244,0.5)" offset="1">
																	</stop>
																	<stop id="SvgjsStop5741" stop-opacity="0.5"
																		stop-color="rgba(169,168,244,0.5)" offset="1">
																	</stop>
																</lineargradient>
															</defs>
															<line id="SvgjsLine5729" x1="0" y1="0" x2="0" y2="28"
																stroke="#b6b6b6" stroke-dasharray="3"
																class="apexcharts-xcrosshairs" x="0" y="0" width="1"
																height="28" fill="#b1b9c4" filter="none"
																fill-opacity="0.9" stroke-width="1"></line>
															<g id="SvgjsG5744" class="apexcharts-xaxis"
																transform="translate(0, 0)">
																<g id="SvgjsG5745" class="apexcharts-xaxis-texts-g"
																	transform="translate(0, -4)"></g>
															</g>
															<g id="SvgjsG5751" class="apexcharts-grid">
																<g id="SvgjsG5752"
																	class="apexcharts-gridlines-horizontal"
																	style="display: none;">
																	<line id="SvgjsLine5754" x1="0" y1="0" x2="158"
																		y2="0" stroke="#e0e0e0" stroke-dasharray="0"
																		class="apexcharts-gridline"></line>
																	<line id="SvgjsLine5755" x1="0" y1="5" x2="158"
																		y2="5" stroke="#e0e0e0" stroke-dasharray="0"
																		class="apexcharts-gridline"></line>
																	<line id="SvgjsLine5756" x1="0" y1="10" x2="158"
																		y2="10" stroke="#e0e0e0" stroke-dasharray="0"
																		class="apexcharts-gridline"></line>
																	<line id="SvgjsLine5757" x1="0" y1="15" x2="158"
																		y2="15" stroke="#e0e0e0" stroke-dasharray="0"
																		class="apexcharts-gridline"></line>
																	<line id="SvgjsLine5758" x1="0" y1="20" x2="158"
																		y2="20" stroke="#e0e0e0" stroke-dasharray="0"
																		class="apexcharts-gridline"></line>
																	<line id="SvgjsLine5759" x1="0" y1="25" x2="158"
																		y2="25" stroke="#e0e0e0" stroke-dasharray="0"
																		class="apexcharts-gridline"></line>
																	<line id="SvgjsLine5760" x1="0" y1="30" x2="158"
																		y2="30" stroke="#e0e0e0" stroke-dasharray="0"
																		class="apexcharts-gridline"></line>
																	<line id="SvgjsLine5761" x1="0" y1="35" x2="158"
																		y2="35" stroke="#e0e0e0" stroke-dasharray="0"
																		class="apexcharts-gridline"></line>
																</g>
																<g id="SvgjsG5753" class="apexcharts-gridlines-vertical"
																	style="display: none;"></g>
																<line id="SvgjsLine5763" x1="0" y1="35" x2="158" y2="35"
																	stroke="transparent" stroke-dasharray="0"></line>
																<line id="SvgjsLine5762" x1="0" y1="1" x2="0" y2="35"
																	stroke="transparent" stroke-dasharray="0"></line>
															</g>
															<g id="SvgjsG5734"
																class="apexcharts-area-series apexcharts-plot-series">
																<g id="SvgjsG5735" class="apexcharts-series"
																	seriesName="series1" data:longestSeries="true"
																	rel="1" data:realIndex="0">
																	<path id="SvgjsPath5742"
																		d="M 0 35L 0 29.5C 7.213043478260868 29.5 13.395652173913042 5 20.60869565217391 5C 25.417391304347824 5 29.53913043478261 15 34.34782608695652 15C 39.15652173913043 15 43.278260869565216 23.5 48.086956521739125 23.5C 52.895652173913035 23.5 57.017391304347825 18 61.826086956521735 18C 66.63478260869564 18 70.75652173913043 28 75.56521739130434 28C 80.37391304347825 28 84.49565217391304 14.75 89.30434782608695 14.75C 94.11304347826086 14.75 98.23478260869565 4.75 103.04347826086956 4.75C 107.85217391304347 4.75 111.97391304347826 23.5 116.78260869565217 23.5C 121.59130434782608 23.5 125.71304347826087 18 130.52173913043478 18C 135.33043478260868 18 139.45217391304348 28 144.26086956521738 28C 149.0695652173913 28 153.19130434782608 14.75 158 14.75C 158 14.75 158 14.75 158 35M 158 14.75z"
																		fill="url(#SvgjsLinearGradient5738)"
																		fill-opacity="1" stroke-opacity="1"
																		stroke-linecap="butt" stroke-width="0"
																		stroke-dasharray="0" class="apexcharts-area"
																		index="0" clip-path="url(#gridRectMaskxy7eccby)"
																		pathTo="M 0 35L 0 29.5C 7.213043478260868 29.5 13.395652173913042 5 20.60869565217391 5C 25.417391304347824 5 29.53913043478261 15 34.34782608695652 15C 39.15652173913043 15 43.278260869565216 23.5 48.086956521739125 23.5C 52.895652173913035 23.5 57.017391304347825 18 61.826086956521735 18C 66.63478260869564 18 70.75652173913043 28 75.56521739130434 28C 80.37391304347825 28 84.49565217391304 14.75 89.30434782608695 14.75C 94.11304347826086 14.75 98.23478260869565 4.75 103.04347826086956 4.75C 107.85217391304347 4.75 111.97391304347826 23.5 116.78260869565217 23.5C 121.59130434782608 23.5 125.71304347826087 18 130.52173913043478 18C 135.33043478260868 18 139.45217391304348 28 144.26086956521738 28C 149.0695652173913 28 153.19130434782608 14.75 158 14.75C 158 14.75 158 14.75 158 35M 158 14.75z"
																		pathFrom="M -1 45L -1 45L 20.60869565217391 45L 34.34782608695652 45L 48.086956521739125 45L 61.826086956521735 45L 75.56521739130434 45L 89.30434782608695 45L 103.04347826086956 45L 116.78260869565217 45L 130.52173913043478 45L 144.26086956521738 45L 158 45">
																	</path>
																	<path id="SvgjsPath5743"
																		d="M 0 29.5C 7.213043478260868 29.5 13.395652173913042 5 20.60869565217391 5C 25.417391304347824 5 29.53913043478261 15 34.34782608695652 15C 39.15652173913043 15 43.278260869565216 23.5 48.086956521739125 23.5C 52.895652173913035 23.5 57.017391304347825 18 61.826086956521735 18C 66.63478260869564 18 70.75652173913043 28 75.56521739130434 28C 80.37391304347825 28 84.49565217391304 14.75 89.30434782608695 14.75C 94.11304347826086 14.75 98.23478260869565 4.75 103.04347826086956 4.75C 107.85217391304347 4.75 111.97391304347826 23.5 116.78260869565217 23.5C 121.59130434782608 23.5 125.71304347826087 18 130.52173913043478 18C 135.33043478260868 18 139.45217391304348 28 144.26086956521738 28C 149.0695652173913 28 153.19130434782608 14.75 158 14.75"
																		fill="none" fill-opacity="1" stroke="#5350e9"
																		stroke-opacity="1" stroke-linecap="butt"
																		stroke-width="2" stroke-dasharray="0"
																		class="apexcharts-area" index="0"
																		clip-path="url(#gridRectMaskxy7eccby)"
																		pathTo="M 0 29.5C 7.213043478260868 29.5 13.395652173913042 5 20.60869565217391 5C 25.417391304347824 5 29.53913043478261 15 34.34782608695652 15C 39.15652173913043 15 43.278260869565216 23.5 48.086956521739125 23.5C 52.895652173913035 23.5 57.017391304347825 18 61.826086956521735 18C 66.63478260869564 18 70.75652173913043 28 75.56521739130434 28C 80.37391304347825 28 84.49565217391304 14.75 89.30434782608695 14.75C 94.11304347826086 14.75 98.23478260869565 4.75 103.04347826086956 4.75C 107.85217391304347 4.75 111.97391304347826 23.5 116.78260869565217 23.5C 121.59130434782608 23.5 125.71304347826087 18 130.52173913043478 18C 135.33043478260868 18 139.45217391304348 28 144.26086956521738 28C 149.0695652173913 28 153.19130434782608 14.75 158 14.75"
																		pathFrom="M -1 45L -1 45L 20.60869565217391 45L 34.34782608695652 45L 48.086956521739125 45L 61.826086956521735 45L 75.56521739130434 45L 89.30434782608695 45L 103.04347826086956 45L 116.78260869565217 45L 130.52173913043478 45L 144.26086956521738 45L 158 45">
																	</path>
																	<g id="SvgjsG5736"
																		class="apexcharts-series-markers-wrap"
																		data:realIndex="0">
																		<g class="apexcharts-series-markers">
																			<circle id="SvgjsCircle5769" r="0" cx="0"
																				cy="0"
																				class="apexcharts-marker wk4roiuwak no-pointer-events"
																				stroke="#ffffff" fill="#5350e9"
																				fill-opacity="1" stroke-width="2"
																				stroke-opacity="0.9"
																				default-marker-size="0">
																			</circle>
																		</g>
																	</g>
																</g>
																<g id="SvgjsG5737" class="apexcharts-datalabels"
																	data:realIndex="0"></g>
															</g>
															<line id="SvgjsLine5764" x1="0" y1="0" x2="158" y2="0"
																stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1"
																class="apexcharts-ycrosshairs">
															</line>
															<line id="SvgjsLine5765" x1="0" y1="0" x2="158" y2="0"
																stroke-dasharray="0" stroke-width="0"
																class="apexcharts-ycrosshairs-hidden"></line>
															<g id="SvgjsG5766" class="apexcharts-yaxis-annotations"></g>
															<g id="SvgjsG5767" class="apexcharts-xaxis-annotations"></g>
															<g id="SvgjsG5768" class="apexcharts-point-annotations"></g>
															<rect id="SvgjsRect5770" width="0" height="0" x="0" y="0"
																rx="0" ry="0" opacity="1" stroke-width="0" stroke="none"
																stroke-dasharray="0" fill="#fefefe"
																class="apexcharts-zoom-rect">
															</rect>
															<rect id="SvgjsRect5771" width="0" height="0" x="0" y="0"
																rx="0" ry="0" opacity="1" stroke-width="0" stroke="none"
																stroke-dasharray="0" fill="#fefefe"
																class="apexcharts-selection-rect"></rect>
														</g>
														<rect id="SvgjsRect5728" width="0" height="0" x="0" y="0" rx="0"
															ry="0" opacity="1" stroke-width="0" stroke="none"
															stroke-dasharray="0" fill="#fefefe">
														</rect>
														<g id="SvgjsG5749" class="apexcharts-yaxis" rel="0"
															transform="translate(-8, 0)">
															<g id="SvgjsG5750" class="apexcharts-yaxis-texts-g">
															</g>
														</g>
														<g id="SvgjsG5723" class="apexcharts-annotations"></g>
													</svg>
													<div class="apexcharts-legend" style="max-height: 40px;">
													</div>
													<div class="apexcharts-tooltip apexcharts-theme-light">
														<div class="apexcharts-tooltip-title"
															style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
														</div>
														<div class="apexcharts-tooltip-series-group" style="order: 1;">
															<span class="apexcharts-tooltip-marker"
																style="background-color: rgb(83, 80, 233);"></span>
															<div class="apexcharts-tooltip-text"
																style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
																<div class="apexcharts-tooltip-y-group"><span
																		class="apexcharts-tooltip-text-label"></span><span
																		class="apexcharts-tooltip-text-value"></span>
																</div>
																<div class="apexcharts-tooltip-z-group"><span
																		class="apexcharts-tooltip-text-z-label"></span><span
																		class="apexcharts-tooltip-text-z-value"></span>
																</div>
															</div>
														</div>
													</div>
													<div
														class="apexcharts-xaxistooltip apexcharts-xaxistooltip-bottom apexcharts-theme-light">
														<div class="apexcharts-xaxistooltip-text"
															style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
														</div>
													</div>
													<div
														class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light">
														<div class="apexcharts-yaxistooltip-text"></div>
													</div>
												</div>
											</div>
											<div class="resize-triggers">
												<div class="expand-trigger">
													<div style="width: 215px; height: 96px;"></div>
												</div>
												<div class="contract-trigger"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-6">
											<div class="d-flex align-items-center">
												<svg class="bi text-success" width="32" height="32" fill="blue"
													style="width:10px">
													<use
														xlink:href="assets/vendors/bootstrap-icons/bootstrap-icons.svg#circle-fill">
													</use>
												</svg>
												<h5 class="mb-0 ms-3">America</h5>
											</div>
										</div>
										<div class="col-6">
											<h5 class="mb-0">375</h5>
										</div>
										<div class="col-12" style="position: relative;">
											<div id="chart-america" style="min-height: 95px;">
												<div id="apexchartsv4699njqh"
													class="apexcharts-canvas apexchartsv4699njqh apexcharts-theme-light"
													style="width: 190px; height: 80px;"><svg id="SvgjsSvg5667"
														width="190" height="80" xmlns="http://www.w3.org/2000/svg"
														version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
														xmlns:svgjs="http://svgjs.com/svgjs"
														class="apexcharts-svg apexcharts-zoomable"
														xmlns:data="ApexChartsNS" transform="translate(0, 0)"
														style="background: transparent;">
														<g id="SvgjsG5669" class="apexcharts-inner apexcharts-graphical"
															transform="translate(22, 30)">
															<defs id="SvgjsDefs5668">
																<clippath id="gridRectMaskv4699njqh">
																	<rect id="SvgjsRect5679" width="164" height="37"
																		x="-3" y="-1" rx="0" ry="0" opacity="1"
																		stroke-width="0" stroke="none"
																		stroke-dasharray="0" fill="#fff"></rect>
																</clippath>
																<clippath id="gridRectMarkerMaskv4699njqh">
																	<rect id="SvgjsRect5680" width="162" height="39"
																		x="-2" y="-2" rx="0" ry="0" opacity="1"
																		stroke-width="0" stroke="none"
																		stroke-dasharray="0" fill="#fff"></rect>
																</clippath>
																<lineargradient id="SvgjsLinearGradient5685" x1="0"
																	y1="0" x2="0" y2="1">
																	<stop id="SvgjsStop5686" stop-opacity="0.65"
																		stop-color="rgba(0,139,117,0.65)" offset="0">
																	</stop>
																	<stop id="SvgjsStop5687" stop-opacity="0.5"
																		stop-color="rgba(128,197,186,0.5)" offset="1">
																	</stop>
																	<stop id="SvgjsStop5688" stop-opacity="0.5"
																		stop-color="rgba(128,197,186,0.5)" offset="1">
																	</stop>
																</lineargradient>
															</defs>
															<line id="SvgjsLine5676" x1="0" y1="0" x2="0" y2="28"
																stroke="#b6b6b6" stroke-dasharray="3"
																class="apexcharts-xcrosshairs" x="0" y="0" width="1"
																height="28" fill="#b1b9c4" filter="none"
																fill-opacity="0.9" stroke-width="1"></line>
															<g id="SvgjsG5691" class="apexcharts-xaxis"
																transform="translate(0, 0)">
																<g id="SvgjsG5692" class="apexcharts-xaxis-texts-g"
																	transform="translate(0, -4)"></g>
															</g>
															<g id="SvgjsG5698" class="apexcharts-grid">
																<g id="SvgjsG5699"
																	class="apexcharts-gridlines-horizontal"
																	style="display: none;">
																	<line id="SvgjsLine5701" x1="0" y1="0" x2="158"
																		y2="0" stroke="#e0e0e0" stroke-dasharray="0"
																		class="apexcharts-gridline"></line>
																	<line id="SvgjsLine5702" x1="0" y1="5" x2="158"
																		y2="5" stroke="#e0e0e0" stroke-dasharray="0"
																		class="apexcharts-gridline"></line>
																	<line id="SvgjsLine5703" x1="0" y1="10" x2="158"
																		y2="10" stroke="#e0e0e0" stroke-dasharray="0"
																		class="apexcharts-gridline"></line>
																	<line id="SvgjsLine5704" x1="0" y1="15" x2="158"
																		y2="15" stroke="#e0e0e0" stroke-dasharray="0"
																		class="apexcharts-gridline"></line>
																	<line id="SvgjsLine5705" x1="0" y1="20" x2="158"
																		y2="20" stroke="#e0e0e0" stroke-dasharray="0"
																		class="apexcharts-gridline"></line>
																	<line id="SvgjsLine5706" x1="0" y1="25" x2="158"
																		y2="25" stroke="#e0e0e0" stroke-dasharray="0"
																		class="apexcharts-gridline"></line>
																	<line id="SvgjsLine5707" x1="0" y1="30" x2="158"
																		y2="30" stroke="#e0e0e0" stroke-dasharray="0"
																		class="apexcharts-gridline"></line>
																	<line id="SvgjsLine5708" x1="0" y1="35" x2="158"
																		y2="35" stroke="#e0e0e0" stroke-dasharray="0"
																		class="apexcharts-gridline"></line>
																</g>
																<g id="SvgjsG5700" class="apexcharts-gridlines-vertical"
																	style="display: none;"></g>
																<line id="SvgjsLine5710" x1="0" y1="35" x2="158" y2="35"
																	stroke="transparent" stroke-dasharray="0"></line>
																<line id="SvgjsLine5709" x1="0" y1="1" x2="0" y2="35"
																	stroke="transparent" stroke-dasharray="0"></line>
															</g>
															<g id="SvgjsG5681"
																class="apexcharts-area-series apexcharts-plot-series">
																<g id="SvgjsG5682" class="apexcharts-series"
																	seriesName="series1" data:longestSeries="true"
																	rel="1" data:realIndex="0">
																	<path id="SvgjsPath5689"
																		d="M 0 35L 0 29.5C 7.213043478260868 29.5 13.395652173913042 5 20.60869565217391 5C 25.417391304347824 5 29.53913043478261 15 34.34782608695652 15C 39.15652173913043 15 43.278260869565216 23.5 48.086956521739125 23.5C 52.895652173913035 23.5 57.017391304347825 18 61.826086956521735 18C 66.63478260869564 18 70.75652173913043 28 75.56521739130434 28C 80.37391304347825 28 84.49565217391304 14.75 89.30434782608695 14.75C 94.11304347826086 14.75 98.23478260869565 4.75 103.04347826086956 4.75C 107.85217391304347 4.75 111.97391304347826 23.5 116.78260869565217 23.5C 121.59130434782608 23.5 125.71304347826087 18 130.52173913043478 18C 135.33043478260868 18 139.45217391304348 28 144.26086956521738 28C 149.0695652173913 28 153.19130434782608 14.75 158 14.75C 158 14.75 158 14.75 158 35M 158 14.75z"
																		fill="url(#SvgjsLinearGradient5685)"
																		fill-opacity="1" stroke-opacity="1"
																		stroke-linecap="butt" stroke-width="0"
																		stroke-dasharray="0" class="apexcharts-area"
																		index="0"
																		clip-path="url(#gridRectMaskv4699njqh)"
																		pathTo="M 0 35L 0 29.5C 7.213043478260868 29.5 13.395652173913042 5 20.60869565217391 5C 25.417391304347824 5 29.53913043478261 15 34.34782608695652 15C 39.15652173913043 15 43.278260869565216 23.5 48.086956521739125 23.5C 52.895652173913035 23.5 57.017391304347825 18 61.826086956521735 18C 66.63478260869564 18 70.75652173913043 28 75.56521739130434 28C 80.37391304347825 28 84.49565217391304 14.75 89.30434782608695 14.75C 94.11304347826086 14.75 98.23478260869565 4.75 103.04347826086956 4.75C 107.85217391304347 4.75 111.97391304347826 23.5 116.78260869565217 23.5C 121.59130434782608 23.5 125.71304347826087 18 130.52173913043478 18C 135.33043478260868 18 139.45217391304348 28 144.26086956521738 28C 149.0695652173913 28 153.19130434782608 14.75 158 14.75C 158 14.75 158 14.75 158 35M 158 14.75z"
																		pathFrom="M -1 45L -1 45L 20.60869565217391 45L 34.34782608695652 45L 48.086956521739125 45L 61.826086956521735 45L 75.56521739130434 45L 89.30434782608695 45L 103.04347826086956 45L 116.78260869565217 45L 130.52173913043478 45L 144.26086956521738 45L 158 45">
																	</path>
																	<path id="SvgjsPath5690"
																		d="M 0 29.5C 7.213043478260868 29.5 13.395652173913042 5 20.60869565217391 5C 25.417391304347824 5 29.53913043478261 15 34.34782608695652 15C 39.15652173913043 15 43.278260869565216 23.5 48.086956521739125 23.5C 52.895652173913035 23.5 57.017391304347825 18 61.826086956521735 18C 66.63478260869564 18 70.75652173913043 28 75.56521739130434 28C 80.37391304347825 28 84.49565217391304 14.75 89.30434782608695 14.75C 94.11304347826086 14.75 98.23478260869565 4.75 103.04347826086956 4.75C 107.85217391304347 4.75 111.97391304347826 23.5 116.78260869565217 23.5C 121.59130434782608 23.5 125.71304347826087 18 130.52173913043478 18C 135.33043478260868 18 139.45217391304348 28 144.26086956521738 28C 149.0695652173913 28 153.19130434782608 14.75 158 14.75"
																		fill="none" fill-opacity="1" stroke="#008b75"
																		stroke-opacity="1" stroke-linecap="butt"
																		stroke-width="2" stroke-dasharray="0"
																		class="apexcharts-area" index="0"
																		clip-path="url(#gridRectMaskv4699njqh)"
																		pathTo="M 0 29.5C 7.213043478260868 29.5 13.395652173913042 5 20.60869565217391 5C 25.417391304347824 5 29.53913043478261 15 34.34782608695652 15C 39.15652173913043 15 43.278260869565216 23.5 48.086956521739125 23.5C 52.895652173913035 23.5 57.017391304347825 18 61.826086956521735 18C 66.63478260869564 18 70.75652173913043 28 75.56521739130434 28C 80.37391304347825 28 84.49565217391304 14.75 89.30434782608695 14.75C 94.11304347826086 14.75 98.23478260869565 4.75 103.04347826086956 4.75C 107.85217391304347 4.75 111.97391304347826 23.5 116.78260869565217 23.5C 121.59130434782608 23.5 125.71304347826087 18 130.52173913043478 18C 135.33043478260868 18 139.45217391304348 28 144.26086956521738 28C 149.0695652173913 28 153.19130434782608 14.75 158 14.75"
																		pathFrom="M -1 45L -1 45L 20.60869565217391 45L 34.34782608695652 45L 48.086956521739125 45L 61.826086956521735 45L 75.56521739130434 45L 89.30434782608695 45L 103.04347826086956 45L 116.78260869565217 45L 130.52173913043478 45L 144.26086956521738 45L 158 45">
																	</path>
																	<g id="SvgjsG5683"
																		class="apexcharts-series-markers-wrap"
																		data:realIndex="0">
																		<g class="apexcharts-series-markers">
																			<circle id="SvgjsCircle5716" r="0" cx="0"
																				cy="0"
																				class="apexcharts-marker wtvj1bxz no-pointer-events"
																				stroke="#ffffff" fill="#008b75"
																				fill-opacity="1" stroke-width="2"
																				stroke-opacity="0.9"
																				default-marker-size="0">
																			</circle>
																		</g>
																	</g>
																</g>
																<g id="SvgjsG5684" class="apexcharts-datalabels"
																	data:realIndex="0"></g>
															</g>
															<line id="SvgjsLine5711" x1="0" y1="0" x2="158" y2="0"
																stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1"
																class="apexcharts-ycrosshairs">
															</line>
															<line id="SvgjsLine5712" x1="0" y1="0" x2="158" y2="0"
																stroke-dasharray="0" stroke-width="0"
																class="apexcharts-ycrosshairs-hidden"></line>
															<g id="SvgjsG5713" class="apexcharts-yaxis-annotations"></g>
															<g id="SvgjsG5714" class="apexcharts-xaxis-annotations"></g>
															<g id="SvgjsG5715" class="apexcharts-point-annotations"></g>
															<rect id="SvgjsRect5717" width="0" height="0" x="0" y="0"
																rx="0" ry="0" opacity="1" stroke-width="0" stroke="none"
																stroke-dasharray="0" fill="#fefefe"
																class="apexcharts-zoom-rect">
															</rect>
															<rect id="SvgjsRect5718" width="0" height="0" x="0" y="0"
																rx="0" ry="0" opacity="1" stroke-width="0" stroke="none"
																stroke-dasharray="0" fill="#fefefe"
																class="apexcharts-selection-rect"></rect>
														</g>
														<rect id="SvgjsRect5675" width="0" height="0" x="0" y="0" rx="0"
															ry="0" opacity="1" stroke-width="0" stroke="none"
															stroke-dasharray="0" fill="#fefefe">
														</rect>
														<g id="SvgjsG5696" class="apexcharts-yaxis" rel="0"
															transform="translate(-8, 0)">
															<g id="SvgjsG5697" class="apexcharts-yaxis-texts-g">
															</g>
														</g>
														<g id="SvgjsG5670" class="apexcharts-annotations"></g>
													</svg>
													<div class="apexcharts-legend" style="max-height: 40px;">
													</div>
													<div class="apexcharts-tooltip apexcharts-theme-light">
														<div class="apexcharts-tooltip-title"
															style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
														</div>
														<div class="apexcharts-tooltip-series-group" style="order: 1;">
															<span class="apexcharts-tooltip-marker"
																style="background-color: rgb(0, 139, 117);"></span>
															<div class="apexcharts-tooltip-text"
																style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
																<div class="apexcharts-tooltip-y-group"><span
																		class="apexcharts-tooltip-text-label"></span><span
																		class="apexcharts-tooltip-text-value"></span>
																</div>
																<div class="apexcharts-tooltip-z-group"><span
																		class="apexcharts-tooltip-text-z-label"></span><span
																		class="apexcharts-tooltip-text-z-value"></span>
																</div>
															</div>
														</div>
													</div>
													<div
														class="apexcharts-xaxistooltip apexcharts-xaxistooltip-bottom apexcharts-theme-light">
														<div class="apexcharts-xaxistooltip-text"
															style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
														</div>
													</div>
													<div
														class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light">
														<div class="apexcharts-yaxistooltip-text"></div>
													</div>
												</div>
											</div>
											<div class="resize-triggers">
												<div class="expand-trigger">
													<div style="width: 215px; height: 96px;"></div>
												</div>
												<div class="contract-trigger"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-6">
											<div class="d-flex align-items-center">
												<svg class="bi text-danger" width="32" height="32" fill="blue"
													style="width:10px">
													<use
														xlink:href="assets/vendors/bootstrap-icons/bootstrap-icons.svg#circle-fill">
													</use>
												</svg>
												<h5 class="mb-0 ms-3">Indonesia</h5>
											</div>
										</div>
										<div class="col-6">
											<h5 class="mb-0">1025</h5>
										</div>
										<div class="col-12" style="position: relative;">
											<div id="chart-indonesia" style="min-height: 95px;">
												<div id="apexchartsttbh065i"
													class="apexcharts-canvas apexchartsttbh065i apexcharts-theme-light"
													style="width: 190px; height: 80px;"><svg id="SvgjsSvg5614"
														width="190" height="80" xmlns="http://www.w3.org/2000/svg"
														version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
														xmlns:svgjs="http://svgjs.com/svgjs"
														class="apexcharts-svg apexcharts-zoomable"
														xmlns:data="ApexChartsNS" transform="translate(0, 0)"
														style="background: transparent;">
														<g id="SvgjsG5616" class="apexcharts-inner apexcharts-graphical"
															transform="translate(22, 30)">
															<defs id="SvgjsDefs5615">
																<clippath id="gridRectMaskttbh065i">
																	<rect id="SvgjsRect5626" width="164" height="37"
																		x="-3" y="-1" rx="0" ry="0" opacity="1"
																		stroke-width="0" stroke="none"
																		stroke-dasharray="0" fill="#fff"></rect>
																</clippath>
																<clippath id="gridRectMarkerMaskttbh065i">
																	<rect id="SvgjsRect5627" width="162" height="39"
																		x="-2" y="-2" rx="0" ry="0" opacity="1"
																		stroke-width="0" stroke="none"
																		stroke-dasharray="0" fill="#fff"></rect>
																</clippath>
																<lineargradient id="SvgjsLinearGradient5632" x1="0"
																	y1="0" x2="0" y2="1">
																	<stop id="SvgjsStop5633" stop-opacity="0.65"
																		stop-color="rgba(220,53,69,0.65)" offset="0">
																	</stop>
																	<stop id="SvgjsStop5634" stop-opacity="0.5"
																		stop-color="rgba(238,154,162,0.5)" offset="1">
																	</stop>
																	<stop id="SvgjsStop5635" stop-opacity="0.5"
																		stop-color="rgba(238,154,162,0.5)" offset="1">
																	</stop>
																</lineargradient>
															</defs>
															<line id="SvgjsLine5623" x1="0" y1="0" x2="0" y2="28"
																stroke="#b6b6b6" stroke-dasharray="3"
																class="apexcharts-xcrosshairs" x="0" y="0" width="1"
																height="28" fill="#b1b9c4" filter="none"
																fill-opacity="0.9" stroke-width="1"></line>
															<g id="SvgjsG5638" class="apexcharts-xaxis"
																transform="translate(0, 0)">
																<g id="SvgjsG5639" class="apexcharts-xaxis-texts-g"
																	transform="translate(0, -4)"></g>
															</g>
															<g id="SvgjsG5645" class="apexcharts-grid">
																<g id="SvgjsG5646"
																	class="apexcharts-gridlines-horizontal"
																	style="display: none;">
																	<line id="SvgjsLine5648" x1="0" y1="0" x2="158"
																		y2="0" stroke="#e0e0e0" stroke-dasharray="0"
																		class="apexcharts-gridline"></line>
																	<line id="SvgjsLine5649" x1="0" y1="5" x2="158"
																		y2="5" stroke="#e0e0e0" stroke-dasharray="0"
																		class="apexcharts-gridline"></line>
																	<line id="SvgjsLine5650" x1="0" y1="10" x2="158"
																		y2="10" stroke="#e0e0e0" stroke-dasharray="0"
																		class="apexcharts-gridline"></line>
																	<line id="SvgjsLine5651" x1="0" y1="15" x2="158"
																		y2="15" stroke="#e0e0e0" stroke-dasharray="0"
																		class="apexcharts-gridline"></line>
																	<line id="SvgjsLine5652" x1="0" y1="20" x2="158"
																		y2="20" stroke="#e0e0e0" stroke-dasharray="0"
																		class="apexcharts-gridline"></line>
																	<line id="SvgjsLine5653" x1="0" y1="25" x2="158"
																		y2="25" stroke="#e0e0e0" stroke-dasharray="0"
																		class="apexcharts-gridline"></line>
																	<line id="SvgjsLine5654" x1="0" y1="30" x2="158"
																		y2="30" stroke="#e0e0e0" stroke-dasharray="0"
																		class="apexcharts-gridline"></line>
																	<line id="SvgjsLine5655" x1="0" y1="35" x2="158"
																		y2="35" stroke="#e0e0e0" stroke-dasharray="0"
																		class="apexcharts-gridline"></line>
																</g>
																<g id="SvgjsG5647" class="apexcharts-gridlines-vertical"
																	style="display: none;"></g>
																<line id="SvgjsLine5657" x1="0" y1="35" x2="158" y2="35"
																	stroke="transparent" stroke-dasharray="0"></line>
																<line id="SvgjsLine5656" x1="0" y1="1" x2="0" y2="35"
																	stroke="transparent" stroke-dasharray="0"></line>
															</g>
															<g id="SvgjsG5628"
																class="apexcharts-area-series apexcharts-plot-series">
																<g id="SvgjsG5629" class="apexcharts-series"
																	seriesName="series1" data:longestSeries="true"
																	rel="1" data:realIndex="0">
																	<path id="SvgjsPath5636"
																		d="M 0 35L 0 29.5C 7.213043478260868 29.5 13.395652173913042 5 20.60869565217391 5C 25.417391304347824 5 29.53913043478261 15 34.34782608695652 15C 39.15652173913043 15 43.278260869565216 23.5 48.086956521739125 23.5C 52.895652173913035 23.5 57.017391304347825 18 61.826086956521735 18C 66.63478260869564 18 70.75652173913043 28 75.56521739130434 28C 80.37391304347825 28 84.49565217391304 14.75 89.30434782608695 14.75C 94.11304347826086 14.75 98.23478260869565 4.75 103.04347826086956 4.75C 107.85217391304347 4.75 111.97391304347826 23.5 116.78260869565217 23.5C 121.59130434782608 23.5 125.71304347826087 18 130.52173913043478 18C 135.33043478260868 18 139.45217391304348 28 144.26086956521738 28C 149.0695652173913 28 153.19130434782608 14.75 158 14.75C 158 14.75 158 14.75 158 35M 158 14.75z"
																		fill="url(#SvgjsLinearGradient5632)"
																		fill-opacity="1" stroke-opacity="1"
																		stroke-linecap="butt" stroke-width="0"
																		stroke-dasharray="0" class="apexcharts-area"
																		index="0" clip-path="url(#gridRectMaskttbh065i)"
																		pathTo="M 0 35L 0 29.5C 7.213043478260868 29.5 13.395652173913042 5 20.60869565217391 5C 25.417391304347824 5 29.53913043478261 15 34.34782608695652 15C 39.15652173913043 15 43.278260869565216 23.5 48.086956521739125 23.5C 52.895652173913035 23.5 57.017391304347825 18 61.826086956521735 18C 66.63478260869564 18 70.75652173913043 28 75.56521739130434 28C 80.37391304347825 28 84.49565217391304 14.75 89.30434782608695 14.75C 94.11304347826086 14.75 98.23478260869565 4.75 103.04347826086956 4.75C 107.85217391304347 4.75 111.97391304347826 23.5 116.78260869565217 23.5C 121.59130434782608 23.5 125.71304347826087 18 130.52173913043478 18C 135.33043478260868 18 139.45217391304348 28 144.26086956521738 28C 149.0695652173913 28 153.19130434782608 14.75 158 14.75C 158 14.75 158 14.75 158 35M 158 14.75z"
																		pathFrom="M -1 45L -1 45L 20.60869565217391 45L 34.34782608695652 45L 48.086956521739125 45L 61.826086956521735 45L 75.56521739130434 45L 89.30434782608695 45L 103.04347826086956 45L 116.78260869565217 45L 130.52173913043478 45L 144.26086956521738 45L 158 45">
																	</path>
																	<path id="SvgjsPath5637"
																		d="M 0 29.5C 7.213043478260868 29.5 13.395652173913042 5 20.60869565217391 5C 25.417391304347824 5 29.53913043478261 15 34.34782608695652 15C 39.15652173913043 15 43.278260869565216 23.5 48.086956521739125 23.5C 52.895652173913035 23.5 57.017391304347825 18 61.826086956521735 18C 66.63478260869564 18 70.75652173913043 28 75.56521739130434 28C 80.37391304347825 28 84.49565217391304 14.75 89.30434782608695 14.75C 94.11304347826086 14.75 98.23478260869565 4.75 103.04347826086956 4.75C 107.85217391304347 4.75 111.97391304347826 23.5 116.78260869565217 23.5C 121.59130434782608 23.5 125.71304347826087 18 130.52173913043478 18C 135.33043478260868 18 139.45217391304348 28 144.26086956521738 28C 149.0695652173913 28 153.19130434782608 14.75 158 14.75"
																		fill="none" fill-opacity="1" stroke="#dc3545"
																		stroke-opacity="1" stroke-linecap="butt"
																		stroke-width="2" stroke-dasharray="0"
																		class="apexcharts-area" index="0"
																		clip-path="url(#gridRectMaskttbh065i)"
																		pathTo="M 0 29.5C 7.213043478260868 29.5 13.395652173913042 5 20.60869565217391 5C 25.417391304347824 5 29.53913043478261 15 34.34782608695652 15C 39.15652173913043 15 43.278260869565216 23.5 48.086956521739125 23.5C 52.895652173913035 23.5 57.017391304347825 18 61.826086956521735 18C 66.63478260869564 18 70.75652173913043 28 75.56521739130434 28C 80.37391304347825 28 84.49565217391304 14.75 89.30434782608695 14.75C 94.11304347826086 14.75 98.23478260869565 4.75 103.04347826086956 4.75C 107.85217391304347 4.75 111.97391304347826 23.5 116.78260869565217 23.5C 121.59130434782608 23.5 125.71304347826087 18 130.52173913043478 18C 135.33043478260868 18 139.45217391304348 28 144.26086956521738 28C 149.0695652173913 28 153.19130434782608 14.75 158 14.75"
																		pathFrom="M -1 45L -1 45L 20.60869565217391 45L 34.34782608695652 45L 48.086956521739125 45L 61.826086956521735 45L 75.56521739130434 45L 89.30434782608695 45L 103.04347826086956 45L 116.78260869565217 45L 130.52173913043478 45L 144.26086956521738 45L 158 45">
																	</path>
																	<g id="SvgjsG5630"
																		class="apexcharts-series-markers-wrap"
																		data:realIndex="0">
																		<g class="apexcharts-series-markers">
																			<circle id="SvgjsCircle5663" r="0" cx="0"
																				cy="0"
																				class="apexcharts-marker wwqf9t32w no-pointer-events"
																				stroke="#ffffff" fill="#dc3545"
																				fill-opacity="1" stroke-width="2"
																				stroke-opacity="0.9"
																				default-marker-size="0">
																			</circle>
																		</g>
																	</g>
																</g>
																<g id="SvgjsG5631" class="apexcharts-datalabels"
																	data:realIndex="0"></g>
															</g>
															<line id="SvgjsLine5658" x1="0" y1="0" x2="158" y2="0"
																stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1"
																class="apexcharts-ycrosshairs">
															</line>
															<line id="SvgjsLine5659" x1="0" y1="0" x2="158" y2="0"
																stroke-dasharray="0" stroke-width="0"
																class="apexcharts-ycrosshairs-hidden"></line>
															<g id="SvgjsG5660" class="apexcharts-yaxis-annotations"></g>
															<g id="SvgjsG5661" class="apexcharts-xaxis-annotations"></g>
															<g id="SvgjsG5662" class="apexcharts-point-annotations"></g>
															<rect id="SvgjsRect5664" width="0" height="0" x="0" y="0"
																rx="0" ry="0" opacity="1" stroke-width="0" stroke="none"
																stroke-dasharray="0" fill="#fefefe"
																class="apexcharts-zoom-rect">
															</rect>
															<rect id="SvgjsRect5665" width="0" height="0" x="0" y="0"
																rx="0" ry="0" opacity="1" stroke-width="0" stroke="none"
																stroke-dasharray="0" fill="#fefefe"
																class="apexcharts-selection-rect"></rect>
														</g>
														<rect id="SvgjsRect5622" width="0" height="0" x="0" y="0" rx="0"
															ry="0" opacity="1" stroke-width="0" stroke="none"
															stroke-dasharray="0" fill="#fefefe">
														</rect>
														<g id="SvgjsG5643" class="apexcharts-yaxis" rel="0"
															transform="translate(-8, 0)">
															<g id="SvgjsG5644" class="apexcharts-yaxis-texts-g">
															</g>
														</g>
														<g id="SvgjsG5617" class="apexcharts-annotations"></g>
													</svg>
													<div class="apexcharts-legend" style="max-height: 40px;">
													</div>
													<div class="apexcharts-tooltip apexcharts-theme-light">
														<div class="apexcharts-tooltip-title"
															style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
														</div>
														<div class="apexcharts-tooltip-series-group" style="order: 1;">
															<span class="apexcharts-tooltip-marker"
																style="background-color: rgb(220, 53, 69);"></span>
															<div class="apexcharts-tooltip-text"
																style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
																<div class="apexcharts-tooltip-y-group"><span
																		class="apexcharts-tooltip-text-label"></span><span
																		class="apexcharts-tooltip-text-value"></span>
																</div>
																<div class="apexcharts-tooltip-z-group"><span
																		class="apexcharts-tooltip-text-z-label"></span><span
																		class="apexcharts-tooltip-text-z-value"></span>
																</div>
															</div>
														</div>
													</div>
													<div
														class="apexcharts-xaxistooltip apexcharts-xaxistooltip-bottom apexcharts-theme-light">
														<div class="apexcharts-xaxistooltip-text"
															style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
														</div>
													</div>
													<div
														class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light">
														<div class="apexcharts-yaxistooltip-text"></div>
													</div>
												</div>
											</div>
											<div class="resize-triggers">
												<div class="expand-trigger">
													<div style="width: 215px; height: 96px;"></div>
												</div>
												<div class="contract-trigger"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>